NODE_ENV=development
PORT=4002

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_NAME=media_db

# Redis / BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
BULLMQ_QUEUE_NAME=video-processing

# Kafka
KAFKA_ENABLE=true
KAFKA_CLIENT_ID=media-service
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=media-service-group
KAFKA_AUTO_CREATE_TOPICS=true
KAFKA_TOPICS_TO_CREATE=membership.payment.success,video.processed.success,video.processed.failed,video.viewed
KAFKA_MEMBERSHIP_PAYMENT_SUCCESS_TOPIC=membership.payment.success
KAFKA_VIDEO_PROCESSED_SUCCESS_TOPIC=video.processed.success
KAFKA_VIDEO_PROCESSED_FAILED_TOPIC=video.processed.failed
KAFKA_VIDEO_VIEW_TOPIC=video.viewed
KAFKAJS_NO_PARTITIONER_WARNING=1

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_RAW_BUCKET=media-raw
MINIO_PROCESSED_BUCKET=media-processed

# Playback
PLAYBACK_TOKEN_SECRET=change-me-in-production
PLAYBACK_TOKEN_TTL_SECONDS=300
VIDEO_VIEW_DEDUPE_TTL_SECONDS=60

# Membership rules
MEMBERSHIP_MIN_PRICE_LV1=0
MEMBERSHIP_MIN_PRICE_LV2=0
MEMBERSHIP_MIN_PRICE_LV3=0
